---
layout: page
title: stylesheet
---
body{
 padding-top: 50px;
}
.navbar-brand{
    font-size: 20px;
    color: #df691a;
}
.navbar-nav{
    font-size: 15px;
    color: #df691a;
}
.container{
    margin-left:20%;
    padding-top: 70px;
    width:60%;
    height: 100%;
}
#name{
    color: #df691a;
}
#aboutme-pic{
    height: 200px;
    margin-top: 100px;
    margin-left: -230px;
}
#aboutme{
    margin-top: -250px;
}
h3{
    color: #df691a;
}
h2{
    color: #df691a;
    text-align: center;
}

hr.style13 {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
form{
    border-radius: 6px;
    box-shadow: 0px 2px 26px 3px rgba(117,138,168,0.51);
    margin:5px;
    padding: 10px;
}
.border{
    height: 500px;
    text-align: justify;
    padding: 20px;
    border-style: double;
    border-color: #8c8b8b ;
}
.div-center{
    text-align: center;
}
.row{
    height: 100px;
    padding:5%;
}
.link{
    height: 100px;
    border-right: double 2px grey;
}
#link{
    color: #df691a; 
}
.btn-primary{
    border-radius: 6px;
}
.form-control{
    border-radius: 6px;
}
.icons{
    padding:15px;
    font-size: 50px;
}
.list-group{
    text-align: center;
}
